body {
  font-size: 14px;
}
.top-left {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0.1%; /* Adjust this value to move the positioned div up and down */
  text-align: left;
  padding-left: 5px;
  width: 100%; 
  border: 1px solid whitesmoke;
  background-color: rgba(255,255,255, 0.5);
  font-weight: bold;
  
}
.bottom-left {
  position: absolute;
  bottom: 10%;
  left: 15%;
  background-color: black;
  color: #fff;
  padding: 5px;
  font-size: 14px;
}

.fluid-homepage {
  padding: 40px;
  width: 90%;
  margin: auto;
}

/* responsive ---------- */
@media only screen and (max-width: 768px) {

#app {
      padding: 2px;
 }

.top-left{
      font-size: 12px;
      height: 10%; 
 }
}
